.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  padding: 40px;
  padding-top: 130px;
  height: 100vh;
}

.home-heading {
  font-size: 40px;
  color: #13951b;
  font-weight: 700;
}

.home-heading-2 {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0px;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.info-container {
  animation: slideInFromLeft 1.2s ease-out forwards;
}

.home-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.8);

  /* Animation */
  animation: slideInRight 1.2s ease-out forwards;
}

.home-contact-container {
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.home-contact-title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 600;
}

.home-contact-buttons {
  display: flex;
  margin-bottom: 15px;
  gap: 12px;
}

.home-contact-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: transform 0.3s ease;
}

.home-contact-button:hover {
  transform: scale(1.08);
}

.home-phone-button {
  color: #000;
}

.home-whatsapp-button {
  background-color: #13951b;
  color: #fff;
}

.home-contact-icon {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .home-img {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }

  .home-heading {
    font-size: 50px;
  }

  .home-heading-2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .home-img {
    width: 400px;
    height: 400px;
  }

  .home-heading {
    font-size: 60px;
  }

  .home-heading-2 {
    font-size: 40px;
  }
}
