.header-container {
  box-shadow: 0 4px 10px -2px rgba(94, 172, 100, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background-color: #ffffff;
}

.nav-bar-container {
  padding: 10px 20px;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
}

.navbar-nav a {
  font-size: 18px;
  font-weight: 600;
}

.logo {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
}

.logo-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #206320;
  font-style: italic;
  font-size: 18px;
}

.navbar-toggler {
  padding: 2px 6px;
}

.navbar-toggler-icon {
  width: 20px;
}

.active-link {
  color: #13951b !important;
  font-weight: 600;
  border-bottom: 2px solid #13951b;
}

@media screen and (min-width: 768px) {
  .nav-bar-container {
    padding: 10px 30px;
  }

  .navbar-toggler-icon {
    width: 25px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-bar-container {
    padding: 10px 40px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .logo-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-bar-container {
    padding: 10px 80px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .logo-text {
    font-size: 25px;
  }
}
